.mainboard {
  height: 800px;
  text-align: center;
  width: 100%;
  font-family: "Noto Sans KR";
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainarticle {
  margin-left: var(--space-5);
  position: relative;
  top: -100px;
}

.title {
  font-size: var(--font-title-lg);
  font-weight: bold;
}

.subtitle {
  font-size: var(--font-title-md);
}

.mainimg {
  position: absolute;
  top: 0;
  background-color: black;
}
