.mainboard {
  min-height: 800px;
  text-align: center;
  width: 100%;
  font-family: "Noto Sans KR";
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainarticle {
  margin-left: var(--space-5);
  position: relative;
  top: -100px;
}

.title {
  font-size: var(--font-title-lg);
  font-weight: bold;
}

.subtitle {
  font-size: var(--font-title-md);
}

.navgroup {
  margin: var(--space-5) 0;
}

.navgroup ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navgroup ul li {
  margin-right: var(--space-4);
}

.navgroup ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navgroup .instagram {
  color: rgb(236, 176, 243);
}

.navgroup .blog {
  color: rgb(253, 154, 159);
}

.navgroup ul li a svg {
  font-size: var(--font-title-md);
}

@media screen and (max-width: 1032px) {
  .mainboard {
    flex-direction: column;
    padding-bottom: var(--space-5);
  }

  .mainarticle {
    margin-left: 0;
    top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .mainboard {
    min-height: 0;
  }

  .title {
    font-size: var(--font-title-md);
    color: "pink";
  }

  .subtitle {
    font-size: var(--font-lg);
  }

  .mainboard img {
    width: 300px;
  }
}
